{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    <title>Авторизация</title>
    {% endblock %}
{%block content%}
    <div class="registration-body">

            <h2 class="title2">Вход</h2>

            <div class="forma-wrap">
{% if error %}
        <div style="color:red; margin-left: 20%; margin-top: 10px;">{{ error }}</div>
    {% endif %}
                <div class="forma" style="margin-top: -15px">
                    <form action="{% url 'login' %}" method="post">
                          {% csrf_token %}
                          {% for field in form %}
                            <div class="input-bl">
                                <p class="input-bl__title">{{ field.label_tag }}</p>
                                <div class="input-bl__field">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                            
                        <div class="forma__foot forma__foot_2">
                            <button class="btn6 forma__btn">Войти </button>
                        </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>
{% endblock %}